./src/java/Test.java


*DS_Store*
*.iml*
*.ipr*
*.iws*

Java_Exercise/gradle
Java_Exercise/.gradle
Java_Exercise/.idea
Java_Exercise/.metadata

topcoder/gradle
topcoder/.gradle
topcoder/.idea
topcoder/.metadata


Java_Exercise/build
Java_Exercise/bin


