*DS_Store*

Java_Exercise/gradle
Java_Exercise/.gradle
Java_Exercise/.idea
Java_Exercise/.metadata

Java_Exercise/Java_Exercise.iml
Java_Exercise/Java_Exercise.ipr
Java_Exercise/Java_Exercise.iws

Java_Exercise/build
Java_Exercise/bin


